:root {
  --primary: #00b87b;
  --secondary: #314355;
  --light: #f2f2f2;
  --dark: #2c3e50;
}
@media (max-width: 991.98px) {
  .sticky-lg-top.vh-100 {
    height: 100% !important;
  }
}
.fw-medium {
  font-weight: 500;
}
.btn-square {
  width: 40px;
  height: 40px;
}
.btn-sm-square {
  width: 30px;
  height: 30px;
}
.btn-lg-square {
  width: 50px;
  height: 50px;
}
.btn-lg-square,
.btn-sm-square,
.btn-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-primary {
  color: #fff;
}
.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  right: 30px;
  bottom: 30px;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  color: var(--primary);
}
.back-to-top i:hover {
  color: var(--dark);
}
.back-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.title {
  position: relative;
}
.title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 0;
  border: 2px solid var(--light);
  border-radius: 10px;
}
.title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 15px;
  border-radius: 2px;
  background: var(--light);
}
.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  font-size: 90px;
  background: rgba(44, 62, 80, 0.9);
  opacity: 0;
  transition: 0.5s;
}
.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}
.portfolio-item i {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.portfolio-item:hover i {
  opacity: 1;
}
.certificados-item .certificados-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  font-size: 90px;
  background: rgba(44, 62, 80, 0.9);
  opacity: 0;
  transition: 0.5s;
}
.certificados-item:hover .certificados-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}
.certificados-item i {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.certificados-item:hover i {
  opacity: 1;
}
.btn {
  font-size: 1.5rem;
}
.btn:hover {
  background-color: #0ba773 !important;
}
.language-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.toggle-container {
  position: relative;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: gray;
  cursor: pointer;
  overflow: hidden;
}
.flag-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.flag-icon:first-child {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.flag-icon:last-child {
  right: 0;
  opacity: 0;
  z-index: 0;
}
.reflection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0,
    transparent 100%
  );
  opacity: 0.6;
  z-index: 1;
}
.language-switch.active .flag-icon:first-child {
  z-index: 1;
  opacity: 0;
}
.language-switch.active .flag-icon:last-child {
  z-index: 1;
  opacity: 1;
}
.toggle-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  z-index: 3;
}
.language-switch:hover .toggle-container {
  background-color: #d3d3d3;
}
.language-switch.active .toggle-circle {
  transform: translateX(34px);
}
.navbar {
  height: 70px;
}
.navbar .navbar-brand {
  color: #66d4b0;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
.navbar .navbar-brand:hover {
  background: linear-gradient(90deg, #66d4b0, #00bcd4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s, transform 0.3s;
}
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    display: none;
  }
  .navbar-toggler {
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .navbar-toggler-icon::before {
    top: -8px;
  }
  .navbar-toggler-icon::after {
    bottom: -8px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(180deg);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    font-size: 14px;
  }
  .navbar .container {
    padding-left: 10px;
  }
  .navbar-brand {
    padding-right: 0;
    margin-right: 10px;
  }
  .nav-link {
    padding: 0;
    margin: -5px;
  }
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wow {
  visibility: hidden;
}
.fadeInUp {
  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.zoomable {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.zoomable:hover {
  transform: scale(1.1);
}
.zoom-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}
.zoomable:hover .zoom-overlay {
  opacity: 1;
}
.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.3s;
}
.zoomable:hover .zoom-icon {
  opacity: 1;
}
.skill {
  position: relative;
  text-align: center;
  background-color: #314355;
  gap: 10px;
  border-radius: 5px;
  display: inline-block;
  width: auto;
}
.skill-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: cover;
}
